[submodule "EBFinanceBackend"]
	path = EBFinanceBackend
	url = git@gitee.com:yue-yong-x/yue-x-backend.git
[submodule "proto"]
	path = proto
	url =git@gitee.com:yue-yong-x/yue-x-proto.git
[submodule "sea-orm"]
	path = sea-orm
	url =git@gitee.com:yue-yong-x/yue-sea-orm.git
[submodule "yx-flutter"]
	path = yx-flutter
	url =git@gitee.com:yue-yong-x/yue-x-flutter.git
