[submodule "EBFinanceBackend"]
	path = EBFinanceBackend
	url = https://gitee.com/yue-yong-x/yue-x-backend
[submodule "EBFinance"]
	path = EBFinance
	url = https://gitee.com/yue-yong-x/yue-x-tauri
[submodule "proto"]
	path = proto
	url = https://gitee.com/yue-yong-x/yue-x-proto
[submodule "spring-rs"]
	path = spring-rs
	url = https://gitee.com/yue-yong-x/spring-rs
[submodule "sea-orm"]
	path = sea-orm
	url = https://gitee.com/yue-yong-x/yue-sea-orm
[submodule "yx-flutter"]
	path = yx-flutter
	url = https://gitee.com/yue-yong-x/yue-x-flutter
